{{#each trips}}
    <li class="gallery-item-trips" id="{{ id }}">
        <img src="{{../openIcon}}" alt="Иконка путешествия" class="trips-open-icon trips-open-icon-grid">
        <img src="{{../tripIcon}}" alt="Иконка путешествия" class="trips-trip-icon trips-trip-icon-grid">
        <div class="gallery-trips-name gallery-trips-name-grid">{{name}}</div>
        <div class="gallery-trips-date gallery-trips-date-grid">{{startDate}} - {{endDate}}</div>
        <img src="{{../myBlackIcon}}" alt="Картинка поездки" class="gallery-item-trips-img gallery-item-trips-img-grid">
        <img src="{{../editIcon}}" alt="Иконка путешествия" class="trips-edit-icon trips-edit-icon-grid">
        <img src="{{../deleteIcon}}" alt="Иконка удаления" class="trips-delete-icon trips-delete-icon-grid">
    </li>
{{/each}}
