{{#each trips}}
    <li class="gallery-item-profile-trips">
        <img src="{{../tripIcon}}" alt="Иконка путешествия" class="trip-icon trip-icon-grid">
        <div class="gallery-profile-trip-name gallery-profile-trip-name-grid">{{name}}</div>
        <div class="gallery-profile-trip-date gallery-profile-trip-date-grid">{{startDate}} - {{endDate}}</div>
        <img src="{{../myBlackIcon}}" alt="Картинка поездки" class="gallery-item-profile-trips-img gallery-item-profile-trips-img-trip">
    </li>
{{/each}}
